/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */

div.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* LAYOUT */

/* main */

main {
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
    background-color: #141922;
}

div.side-bar {
    width: 240px;
    height: 100%;
    float: left;
    background-color: black;
}

div.content-music {
    width: calc(100% - 240px);
    height: 100%;
    float: left;
    overflow-y: auto;
    padding: 120px 20px 20px;
}

div.content-cta {
    width: calc(100% - 240px);
    height: 100px;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
}

div.sidebar-top{
    height: calc(100% - 80px);
    min-height: 350px;
    display: flex;
    flex-direction: column;
    padding: 1rem ;
    font-size: .8rem;
}

div.sidebar-bottom {
    height: 80px;
    padding-left: .5rem;
}

div.playlist {
    overflow: hidden;
    flex-grow: 1;
}

div.playlist ul {
    overflow-y: auto;
    height: 80%;
}

/* footer */

footer {
    width: 100%;
    height: 100px;

    /* TEST */
    background-color: mediumaquamarine ;
}

/* CONTENT */

/* MAIN CONTENT CTA */

button.btn-upgrade a {
    text-decoration: none;
    color: white;
    padding: 2rem;
}

button.btn-upgrade {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid white;
    padding: 1rem;
    float: right;
    margin: 1rem;
}

button.btn-upgrade:hover {
    border: 2px solid white;
}

/* MAIN CONTENT SIDE-BAR */

/* sidebar top */

img.logo-spotify {
    height: 60%;
}

img.nav-icon {
    height: 25px;
    filter: invert(49%) sepia(6%) saturate(77%) hue-rotate(251deg) brightness(89%) contrast(90%);
}

div.menu > ul > li > a {
    text-decoration: none;
    color: gray;
    font-size: 11.5pt;
    align-items: center;
    display: flex;
    padding-bottom: .5rem;
}

div.menu > ul > li > a > span {
    padding-left: .5rem;
}

h4.title-playlist {
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

a.subtitle-playlist {
    text-decoration: none;
    color: gray;
}

span#add-playlist {
    color: black;
    background-color: gray;
    font-size: 2rem;
    padding: 0 .5rem;
}

div.playlist ul li a {
    text-decoration: none;
    color: gray;
    line-height: 2rem;
}

/* sidebar bottom */

a.install-link {
    color: gray;
    display: flex;
    align-items: center;
    text-decoration: none;
}

span.text-install {
   margin-left: .5rem;
}

hr.hr-playlist {
    margin: .2rem .8rem .3rem .2rem;
}

img.user-icon {
    width: 25px;
    background-color: gray;
    border-radius: 50px;
    margin-left: .2rem;
}

a.user-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

span.user-name {
    font-weight: bold;
    padding-left: .5rem;
}

/* navigation music */

div.navigation-music ul li a {
    text-decoration: none;
    color: gray;
    font-size: .8rem;
    font-weight: bold;
}

div.navigation-music ul {
    list-style: none;
    text-align: center;
}

div.navigation-music ul li {
    display: inline-block;
    padding-right: 1rem;
}

/* recent music */

div.recent-music {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

h2.title-music {
    color: white;
    margin-top: 1rem;
}

div.music-content-ct {
    width: calc(100% / 7);
}

img.icon-music-snd {
    width: 100%;
}

h5.title-icon-music {
    font-size: 1rem;
    color: white;
    text-align: center;
    padding-top: .4rem;
}

div.subtitle-icon-music {
    font-size: .8rem;
    color: gray;
    text-align: center;
    padding-top: .2rem;
}

/* created for user */

h2.title-music {
    margin-top: 2.5rem;
}

span.subtitle-music {
    color: gray;
    margin-top: 1rem;
}